<header class="header">
	<div class="header_logo_content">
		<div class="logo">
			<img src="./img/header/logo.svg" alt="logo" />
		</div>
		<div class="liv_watch_content">
			<img src="./img/header/live.svg.svg" alt="live" />
			<p class="liveText">Смотреть эфир</p>
		</div>
		<div class="signIn_login_buttons">
			<a href="./Html/SingIn.html">
				<button class="button_all signIn_button">Регистрация</button>
			</a>

			<a href="./Html/Login.html">
				<button class="button_all logIn_button">Авторизация</button>
			</a>
		</div>
	</div>
	<menu class="menu menu_main">
		<ul class="ul_all">
			<li class="li_all">Главное</li>
			<li class="li_all">Нацпроекты</li>
			<li class="li_all">Туризм</li>
			<li class="li_all">Безопасность</li>
			<li class="li_all">Строительство</li>
			<li class="li_all">Спорт</li>
			<li class="li_all">Культура</li>
		</ul>
		<div class="search_bar">
			<input placeholder="Поиск" type="text" class="search_input" />
			<img src="./img/header/search.svg" alt="search" />
		</div>
	</menu>
</header>
