@import url(./Cleaner.css);

/* font-family */
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* ========= */



.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #4F4F4F;

}

.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.textLogin {
    color: #4F4F4F;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 47px;
}

.InputsTexts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.inputText {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 2px;
}

.inputText p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.inputText input {
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 18px 18px 18px 10px;
    width: 385px;
    height: 30px;
    box-shadow: 2px 4px 6px 0px rgba(79, 79, 79, 0.15);
}


.accessUser {
    margin-top: 41px;
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.accessUserP {
    font-size: 10px;
    line-height: 15px;
    width: 355px;
    height: 28px;
}

.buttonLogin {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    width: 385px;
    height: 40px;
    border-radius: 15px;
    background-color: #2B5038;
    box-shadow: 2px 4px 6px 0px rgba(79, 79, 79, 0.15);
    transition: all ease-in-out .1s;
}

.buttonLogin:active {

    transform: scale(.9);
}

.newsText {
    position: absolute;
    left: 210px;
    top: 4px;

    font-family: "Pacifico", cursive;
    font-size: 41px;
    color: #2B5038;
}

.img_all {
    height: 100vh;
}

.input_checkbox_all:hover {
    cursor: pointer;
}